:root {
    --main-background-color: #B3B4BD;
    --main-div-color: #748D92;
    --bottom-header-color: #124E66;
    --a-hover-color: #2E3944;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../home/images/pexels-photo-8170944.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Header */
#main-header {
    background-color: var(--main-div-color);
    display: flex;
    position: relative;
    padding: 0;
}


/* Top Header menu */
#top-header {
    margin: auto;
}

#top-header ul {
    padding: 0;
}

#top-header li {
    list-style-type: none;
}

#main-header h1 {
    top: 0;
    margin: auto;
    text-align: center;

}

#admin h2 {
    position: absolute;
    right: 0%;
    top: 1%;
    font-size: medium;
    padding: 0;
    margin: 0;
    padding-right: 5px;
}

/* Bottom Header */
#bottom-header {
    background-color: var(--bottom-header-color);
    margin-top: 0;

}

#main-nav {
    width: 70%;
    margin: auto;

}

#main-nav li {
    list-style-type: none;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
}

#main-nav a {
    flex: 1;
    text-decoration: none;
    color: white;
    font-size: large;
}

#main-nav li:hover {
    background-color: var(--a-hover-color);
}

#nav-items {
    margin: 0;
}

/* Toggle Nav */
#toggle-nav div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}

/* Visibility */
.hidden {
    display: none;
}

.hidden-small {
    display: none;
}

/* Background Image */
#content {
    background-image: url(../home/images/pexels-photo-8170944.jpg);
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* About us */
#content h1 {
    text-align: center;
    padding-bottom: 7px;
}

/* Left Side */


#left-side {
    flex: 1
}

#group-image {
    flex: 1;
}

#left-side img {
    padding-top: 100px;
    padding-bottom: 80px;
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

#why {
    background-color: var(--main-div-color);
    margin: auto;
    width: 85%;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Right Side */


/* Saahil */
#saahil {
    background-color: var(--main-div-color);
    width: 85%;
    margin: auto;
    padding: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#saahil h2 {
    padding-left: 15px;
}

#saahil p {
    padding-left: 15px;
    width: 90%;
}

/* Wade */
#wade {
    background-color: var(--main-div-color);
    width: 85%;
    margin: auto;
    padding: 15px;
    margin-top: 25px;
}

#wade h2 {
    padding-left: 15px;
}

#wade p {
    padding-left: 15px;
    width: 90%;
}

#content p {
    font-size: large;
    width: 90%;
}

#right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* Footer */
footer {
    background-color: var(--main-div-color);
    text-align: center;
    position: absolute;
    width: 100%;
    font-size: small;
}

footer h3 {
    margin: 2px;
}


.images {
    display: block;
    margin: auto;
}

/*Typography */
#admin a {
    text-decoration: none;
    color: black;
}




/* Larger Resolutions */
@media only screen and (min-width: 600px) {
    .columns {
        display: flex;
    }

    .siding {
        display: flex;
    }

    #saahil p {
        text-align: left;
    }

    #toggle-nav {
        display: none;
    }

    .hidden-small {
        display: flex;
    }
}

@media screen and (min-width: 600px) and (max-width: 1500px) {
    .siding {
        display: block;
    }
}

@media screen and (min-width: 600px) and (max-width: 680px) {
    .images {
        width: 250px;
        height: 250px;
    }
}

/* Smaller Resolutions */
@media only screen and (max-width: 600px) {

    .images {
        display: block;
        margin: auto;
    }

    #bottom-header {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}