body {
  background: #8697c4;
  color-scheme: dark;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
}

#content {
  background: #a0d2eb;
  padding: 5px;
  margin: 20px auto;
  width: 85%;
  border-radius: 10px;
  color: #3d52a0;
}

#main-content section {
  background: #ede8f5;
  margin: 10px;
}

#main-content h2 {
  text-align: center;
}

#content img {
  display: block;
  margin: auto;
  width: 300px;
  height: 150px;
}

#main-content p {
  text-align: center;
}

#main-content a {
  color: black;
}

#title_heading {
  color: #003135;
}

#assignments {
  color: #003135;
  text-align: center;
}

#assignments_list a {
  text-decoration: none;
  color: black;
}

#assignments_list a:hover {
  color: #8458b3;
}

/* Projects */
#projects {
  color: #003135;
  text-align: center;
}

#project-div section {
  background: #ede8f5;
  margin: 10px;
}

#project-div h2 {
  text-align: center;
}

#project-div img {
  display: block;
  margin: auto;
}

#project-div p {
  text-align: center;
}

#project-div a {
  color: black;
}

/* Apply to 600px and larger */
@media only screen and (min-width: 600px) {
  .columns {
    display: flex;
  }

  .one {
    flex: 1;
  }

  .two {
    flex: 2;
  }

  .three {
    flex: 3;
  }

  .four {
    flex: 4;
  }

  .five {
    flex: 5;
  }
}