:root {
  --garnet-red: #73000a;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
#main-header {
  display: flex;
  position: relative;
  justify-content: space-between;

  width: 100%;
  padding-bottom: 20px;
  margin: 0;
}
#heading-img {
  margin: 5px;
  margin-left: 20px;
}
#search-box {
    position: absolute;
    top: 25%;
    right:15%;
    padding-right: 10px;
    border: white;
    border-style: solid;
    white-space: nowrap;
}
#search-box h2 {
    color: white;
    font-size: medium;
   padding-right: 200px;
}

/* Top Middle Heading Menu */
#gateways-list {
  position: absolute;
  top: 0;
  margin-right: 25%;
  right: 0;
  flex: 1;
  display: flex;
}
#gateways-header-list {
  padding: 0;
  margin: 0;
}
#gateways-header-list li {
  list-style-type: none;
  color: white;
  padding-right: 15px;
}
#gateways-header-list strong {
  font-size: 10px;
}
#gateways-header-list a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}
#gateways-header-list a:hover {
  background-color: red;
}

#search {
  margin-right: 65px;
  margin-top: 5px;
}

/* Top Right Heading Menu */
#heading-menu {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  flex: 1;
  display: flex;
  justify-content: space-between;
}
#top-right-nav-list {
  /* display: flex; */
  padding: 0;
  margin: 0;
  padding-right: 35px;
}
#top-right-nav-list li {
  position: relative;
  list-style-type: none;
  color: white;
  padding-right: 15px;
}
#top-right-nav-list li::after {
  content: "|";
  position: absolute;
  color: white;
  right: 5px;
  top: 25%;
  font-size: 10px;
}
#top-right-nav-list li:last-child::after {
  content: "";
}
#heading-menu a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}
#heading-menu a:hover {
  background-color: red;
}
#menu-icon {
  margin: 5px;
}

/*Menu at bottom of Header */
#main-menu {
  width: 70%;
  background-color: var(--garnet-red);
  margin: auto;
  padding-left: 15%;
  padding-right: 15%;
  display: block;
}
#main-menu ul {
  margin: auto;
  justify-content: center;
}
#main-menu li {
  list-style-type: none;
  color: white;
  padding: 15px;
}
#main-menu li:hover {
  background-color: #570008;
}
#main-menu a,
strong {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
#main-menu a:hover {
  background-color: red;
}

#top-pic {
  max-width: 100%;
  padding-top: 0%;
}

/* Second Content */

#second-content {
  background-color: white;
  text-align: center;
}
#graduate-school-admissions {
  display: flex;
  width: fit-content;
  padding: 5px;
}
#graduate-school-admissions section {
  width: 70%;
  margin: auto;
}
#graduate-school-admissions h1 {
  padding: 1px;
}
#second-content h3 {
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  padding-bottom: 20px;
}
#second-content p {
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  padding-bottom: 50px;
}

/* Third Content */
#third-content {
  background-color: var(--garnet-red);
}
#third-content img {
  max-width: 100%;
}
#third-content-text {
  margin-left: 5%;
  margin-right: 10%;
}
#third-content-text h1 {
  color: white;
  margin-top: 10%;
}
#third-content-text p {
  color: white;
  padding-right: 5%;
}
#application-requirements-button {
  background-color: black;
  width: fit-content;
  border: white;
  padding: 5px;
  border-color: white;
  margin-top: 10px;
  border: white;
  border-style: solid;
}
#application-requirements-button h2 {
  color: white;
} 
#application-requirements-button a {
  text-decoration: none;
  color: white;
}

/*Fourth Content */
#fourth-content {
  background-color: #ececec;
  text-align: center;
}
#fourth-content section {
  width: 70%;
  margin: auto;
  text-align: center;
}
#fourth-content h1 {
  color: var(--garnet-red);
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}
#fourth-content p {
  text-align: center;
}
#fourth-content h3 {
  display: inline-block;
  position: relative;
  background-color: var(--garnet-red);
  text-align: center;
  padding: 5px;
  width: fit-content;
}
#fourth-content a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
#fourth-content a:hover {
  background-color: white;
  color: var(--garnet-red);
}

/* Fifth Content */
#fifth-content {
  background-color: white;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  width: 70%;
  margin: auto;
}
#fifth-content section {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: xx-large;
}
#fifth-content h1 {
  color: var(--garnet-red);
  padding-bottom: 10px;
}
#fifth-content p {
  font-size: medium;
}

/* Sixth Content */
#sixth-content {
  background-color: white;
  width: 70%;
  margin: auto;
}
#sixth-content section {
  margin: 8px;
  text-align: center;
}
#sixth-content img {
  display: block;
  margin: auto;
  width: 75%;
}
#sixth-content h2 {
  color: var(--garnet-red);
  font-size: medium;
  padding-top: 5px;
  padding-bottom: 5px;
}
#sixth-content p {
  padding-bottom: 50px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}
#sixth-content a {
  text-decoration: none;
}
#sixth-content section:hover {
  box-shadow: 5px 5px 5px rgba(36, 36, 36, 0.5); 
}
/* Seventh Content */

#seventh-content {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70%;
  margin: auto;
}
#seventh-content section {
  color: white;
  font-size: x-large;
}
#seventh-content img {
  position: relative;
  top: -35px;
  padding-left: 10px;
  width: 350;
  height: 350;
}
#seventh-content h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5%;
}
#seventh-content p {
  margin-bottom: 5%;
  margin-left: 5%;
  font-size: medium;
  width: 80%;
}
#seventh-content h1 {
  background-color: var(--garnet-red);
  width: fit-content;
  border: white;
  border-style: solid;
  padding: 15px;
  margin-left: 5%;
  font-size: medium;
}
#seventh-content a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

/* Footer */
footer {
  background-color: var(--garnet-red);
  color: white;
}

/* Top Footer */
#top-footer section {
  margin-top: 20px;
  
}
#left-images {
  margin-left: 5%;
}
#right-images {
  margin-left: 70%;
}
#right-images img {
  padding-left: 4%;
}

/* Middle Footer */

#middle-footer section {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}
#middle-footer h2 {
  font-size: medium;
}
#middle-footer ul {
  list-style-type: none;
}
#middle-footer li {
  padding-bottom: 10px;
}
#middle-footer a {
  text-decoration: none;
  color: white;
}
#middle-footer a:hover {
  background-color: red;
}

#middle-footer-top {
  display: flex;
}

#middle-footer-middle {
  display: flex;
}

/* Bottom Footer */
#bottom-footer {
  background-color: black;
  border: solid;
  border: white;
  padding-top: 2px;
  font-size: small;
  width: 100%;
}
#bottom-footer ul {
  list-style: none;
  justify-content: center;
}
#bottom-footer li {
  padding-right: 10px;
}
#bottom-footer li::after {
  content: "            |";
  color: white;
  right: 10px;
  font-size: small;
}
#bottom-footer li:last-child::after {
  content: "";
}

.white-background {
  background-color: white;
}

.garnet-text {
  color: var(--garnet-red);
}

.columns-all {
  display: flex;
}

img {
  max-width: 100%;
}

/* Larger Resolutions */
@media only screen and (min-width: 600px) {
  .columns {
    display: flex;
  }
  .one {
    flex: 1;
    flex-wrap: wrap;
  }
  .two {
    flex: 2;
  }
  .three {
    flex: 3;
  }
  .four {
    flex: 4;
  }
  #menu-icon {
    display: none;
  }
  #search {
    display: none;
  }
  #main-header {
    width: 70%;
    margin: auto;
  }
  #graduate-school-admissions {
    background-color: var(--garnet-red);
    max-width: 70%;
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    top: -50px;
    left: 10%;
  }
  #graduate-school-admissions h1 {
    color: white;
  }
}

/* Smaller Resolutions */
@media only screen and (max-width: 600px) {
  .one {
    flex-wrap: wrap;
    flex: 1;
  }
  
  #top-right-nav-list, #gateways-list, #search-box {
    display: none;
  }
  

  #middle-footer-top, #middle-footer-middle {
    display: flex;
    flex-wrap: wrap;
  }

  #middle-footer-top .one, #middle-footer-middle .one {
    flex-basis: 50%; 
    width: 50%;
    margin-bottom: 20px;
  }

  /* Top Footer adjustments */
  #left-images {
    margin-left: 40%;
    padding-top: 10px;
    justify-content: center;
  }
  
  #right-images {
    margin-left: 40%;
    justify-content: center;
  }
  #fourth-content section {
    padding-top: 4px;
  }
  #third-content {
    padding-bottom: 5px;
  }
  #sixth-content {
    width: 100%;
  }
  #second-content {
    text-align: left;
  }
  
}